*{
    margin: 0;
    padding: 0;
     font-family: serif;
}

body{
    
    background: url('https://islam.ru/sites/default/files/img/2017/veroeshenie/apokalipsis.jpg') no-repeat;
    background-size: 100%;


}

h1{
    font-family: sans-serif;
    font-size: 700%;
    -webkit-text-fill-color: transparent;
    background: url('https://i.gifer.com/origin/61/6190d1737c8f5aa90907680126f10c32.gif') repeat;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    text-align: center;
    
}

header p{
    font-size: 110%;
    text-align: center;
    padding-bottom: 5%;
}

/*container principal*/

.toform{
    display: flex;
    padding: 5px;
    text-align: center;
    justify-content: center;
    font-size: 100%;
    
    
}

#entradaTexto{
    padding-bottom: 10%;
    width: 100%;
    justify-items: center;
    justify-content: center;
    margin-right: 200px;
    display: flex;
    justify-items: center;
    

}



#incremento{
    display: none;
    justify-items: center;
    margin-left: 25%;
    margin-top: 5%;
}

/*botões codificar e decodificar*/

.radio{
display: flex;
justify-content: center;
padding-top: 5%;


}


#labelcodificar{
    
    font-size: 100%;
    padding-inline-end: 10% ;
    font-style:oblique;
}

#labeldecodificar{
    font-size: 100%;
    font-style:oblique;
}


.saidaMensagem{
    display: flex;
    height: 90%;
    width: 90%;
    padding: 5%;
    padding-bottom: 20%;
    justify-items: center;
   
  
}

/*botões*/

#enigmab1{
    

    width: 30%;
    height: 10%;
    font-size: 120%;
    text-transform:capitalize;
    margin-left: 1%;
    margin-top: 5%;
    justify-content: center;
    color: white;
    background: url("https://http2.mlstatic.com/D_NQ_NP_885143-MLB44709906572_012021-O.jpg");
   
 
   

}
#enigmab2{
   
    width: 30%;
    height: 10%;
    font-size: 120%;
    text-transform:capitalize;
    margin-top: 5%;
    justify-content: center;
    color: white;
    background: url("https://http2.mlstatic.com/D_NQ_NP_885143-MLB44709906572_012021-O.jpg");

}

footer{
      
    text-align: center;
    color: white;
    margin-top: 120px;
    
}




/*efeitos*/

#enigmab1:hover{
    font-size: 100%;
    color: #072b61;
    background: url('https://i.pinimg.com/originals/1f/51/44/1f5144a94fb0e3502460e15d3693b5dd.gif');
}
#enigmab2:hover{
    font-size: 100%;
    color: black;
    background: url('https://i.pinimg.com/originals/1f/51/44/1f5144a94fb0e3502460e15d3693b5dd.gif') 10px;
}
